[submodule "vendors/js-event-dispatcher"]
	path = vendors/js-event-dispatcher
	url = git@github.com:michalbachowski/js-event-dispatcher.git
[submodule "vendors/js-poller"]
	path = vendors/js-poller
	url = git@github.com:michalbachowski/js-poller.git
[submodule "vendors/jquery-titlealert"]
	path = vendors/jquery-titlealert
	url = git://github.com/heyman/jquery-titlealert.git
[submodule "vendors/moment"]
	path = vendors/moment
	url = git://github.com/timrwood/moment.git
[submodule "vendors/jquery-color"]
	path = vendors/jquery-color
	url = git://github.com/jquery/jquery-color.git
[submodule "vendors/bootstrap"]
	path = vendors/bootstrap
	url = git://github.com/twitter/bootstrap.git
