/* Landscape phones and down */
@media (max-width: 480px) {  }

/* Landscape phone to portrait tablet */
@media (max-width: 979px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }
/* small/large desktop */
@media (min-width: 980px) {
    body {
        padding-top: 60px;
    }
}
@media (min-width: 979px) and (max-width: 1120px) {
}

/* Large desktop */
@media (min-width: 1200px) {
    .navbar .brand {
    }
}

body {
    background-color: #ebebeb;
}

#chat-form fieldset {
}
    #chat-form input[type=text] {
        width: 55%;
    }
